{% extends 'base.html' %}
{% block title %}
Aids
{% endblock title %}

{% block content %}

    <main>
        <!-- Blog details breadcrumb start -->
        <div class="wrapper-box p-relative">
            <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
            <div class="breadcrumb-area pt-265 pb-265">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb__content text-center">
                                <h1 class="breadcrumb__title">AIDS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog details breadcrumb end -->

        <!-- Blog details area start -->
        <div class="blog-details-area pt-100 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="blog-details-items">
                            <div class="blog-details-thumb mb-30">
                                <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754884/website/assets/img/aid/DSC05697_kv42bd.jpg" loading="lazy" alt="" />
                            </div>

                            <div class="blog-details-content">
                                <!-- <h3 class="blog-details-title">
                                    BURULI ULCER
                                </h3> -->
                                <p>
                                    It involves speedy intervention to save lives, alleviate suffering, ensure
                                    protection of all persons during disaster and
                                    help victims get back to their feet. In Nigeria, there are huge humanitarian needs
                                    which emanates from the insurgency in
                                    the North-East, banditry violence in the North-West, incessant inter-community
                                    conflict in the middle belt, growing
                                    Cameroonian refugee population in the South and constant flooding in during the
                                    rainy season thus pushing millions of
                                    people into crisis. It has not only left several people homeless, destroyed lives,
                                    properties and business activities,
                                    impacted negatively on food security but also affected the mental health of the
                                    victims. Continued activities of insurgence groups, banditry, inter community
                                    conflict in North-East especially
                                    in Borno, Adamawa and Yobe have increased the number of internally displaced persons
                                    (IDPs) in Nigeria. About 8.4
                                    million women, men and children are in need of humanitarian assistance in 2022. Food
                                    insecurity is a serious growing
                                    problem in Nigeria caused by annual flooding which degrades the environment and
                                    destroys crops, farm settlements,
                                    livestock and seedling stores.

                                </p>
                                <p>
                                    In 2019, there was an outbreak of respiratory disease (COVID 19) which later was
                                    declared a global pandemic by World
                                    Health Organization (WHO) in 2020. To control the rate of infection and death, there
                                    was restriction on international
                                    travels, lockdowns and public gatherings. Nigerians were already battling with
                                    rising cost of living in the face of
                                    insecurity caused by local bandits and rising terrorist groups as well as
                                    communal/herders and farmers conflict, before
                                    COVID 19 emerged and brought more hardship for the people. COVID-19 negatively
                                    impacted the socio-economic well-being of
                                    Nigerians and have continued till date. Some people lost their jobs and other
                                    sources of livelihood. The prices of goods
                                    and food items increased beyond the reach of many Nigerians and the vulnerable
                                    groups was hit the hardest. Some of the
                                    vulnerable groups including persons affected by leprosy and persons with disability
                                    were forced into street begging to
                                    fend for themselves and their families.
                                </p>

                                <p>
                                    COVID-19 impacted negatively on the healthcare system in the country by exposing
                                    numerous inadequacies in the health
                                    system and infrastructure. However, there has been some notable infrastructural
                                    development brought about by the
                                    pandemic. In a bid to cushion the effect of the pandemic on the persons affected by
                                    leprosy, Buruli Ulcer, DRTB patients
                                    and persons with disability in 11 states namely; Anambra, Enugu, Imo, Abia and
                                    Ebonyi in the South-East and Cross River,
                                    Akwa Ibom, Rivers, Bayelsa, Edo and Delta States in the South-south geographical
                                    zone in the control of leprosy, TB and
                                    NTDs were provided with palliative support. Over 2,500 households benefitted from
                                    the cash transfer, provision of food
                                    items and WASH materials between 2020 -2022. RAN donated Personal protective
                                    equipment for frontline health workers
                                    (face mask, hand-gloves) in 3 referral centers (St Joseph Hospital Adazie, St
                                    Benedict Hospital Ogoja and Mile four
                                    hospital Abakaliki). To support the federal government on awareness creation about
                                    COVID 19, the organization held
                                    several radio programmes to educate the public on the symptoms and how to protect
                                    themselves during the period.
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-details-content-thumb">
                                        <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754721/website/assets/img/aid/untitled-3800_weelhv.jpg" loading="lazy" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-details-content-thumb">
                                        <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/aid/untitled-3807_ptxhxf.jpg" loading="lazy" alt="" />
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog details area end -->
    </main>

{% endblock content %}