{% extends 'base.html' %}

{% block title %}
CBID
{% endblock title %}

{% block content %}

    <main>
        <!-- Blog details breadcrumb start -->
        <div class="wrapper-box p-relative">
            <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
            <div class="breadcrumb-area pt-265 pb-265">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb__content text-center">
                                <h1 class="breadcrumb__title">Community Based Inclusive Development (CBID)</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog details breadcrumb end -->

        <!-- Blog details area start -->
        <div class="blog-details-area pt-100 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="blog-details-items">
                            <div class="blog-details-thumb mb-30">
                                <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754833/website/assets/img/cbid/DSC05673_df6fyh.jpg" loading="lazy" alt="" />
                            </div>

                            <div class="blog-details-content">
                                <!-- <h3 class="blog-details-title">
                                    BURULI ULCER
                                </h3> -->
                                <p>
                                    Community-based inclusive development (CBID) has its roots in Community based
                                    Rehabilitation (CBR)
                                    which is defined as “a strategy within general community development for the
                                    rehabilitation,
                                    equalization of opportunities and social inclusion of all people with disabilities.

                                </p>
                                <p>
                                    CBID is the goal or end result to be achieved, while CBR is the strategy to reach
                                    the goal. The aim is to
                                    ensure that persons with disabilities are fully included in all aspects of community
                                    life and have full
                                    access to all facilities and services.
                                </p>

                                <p>
                                    In a bid to promote inclusion of persons with disability based on United Nations
                                    Convention on the
                                    rights of persons with disability (UNCRPD) and the sustainability development goals
                                    (SDGs) 2030, The
                                    community based inclusive unit of the organization in 2019-2020 implemented a CBID
                                    pilot project in
                                    Awgu and Aninri Local Government Areas (LGA)of Enugu State. The project is tilted
                                    “Enhancing Social
                                    Inclusion of Persons with Disability in Southern Nigeria”. The project is funded by
                                    German Leprosy &amp; TB
                                    Relief Association Germany and implemented through the local chapters of the Joint
                                    National
                                    Association of persons with disability (JONAPWD) in the 2 LGAs with support from 10
                                    volunteers from
                                    the 2 LGAs who were trained as community based inclusive development field workers
                                    to support
                                    JONAPWD in implementation of the activities. The project conducted a study on
                                    profiling of persons
                                    with disability (PWD) and identifying the barriers to social inclusion among persons
                                    with disability in the
                                    2 LGAs. The study objectives were:
                                <ol type="a">
                                    <li>
                                        To determine the prevalence of disability in Awgu and Aninri Local Government
                                        Areas.
                                    </li>
                                    <li>
                                        To determine the forms and ascertain the cause of disability among persons with
                                        disability.
                                    </li>
                                    <li>
                                        To identify the barriers to disability inclusion for persons with disability.
                                    </li>
                                    <li>
                                        To assess the type of assistive devices used by persons with disability.
                                    </li>
                                    <li>
                                        To determine the unmet needs of persons with disability.
                                    </li>
                                    <li>
                                        To determine the attitude of community members towards persons with disability.
                                    </li>
                                    <li>
                                        To determine factors affecting employment among persons with disability.
                                    </li>
                                    <li>
                                        To determine the prevalence of depression, anxiety among persons with disability
                                    </li>
                                    <li>
                                        To determine the quality of life of persons with disability
                                    </li>
                                </ol>
                                </p>

                                <p>
                                    The project outcomes include:

                                <ol type="a">
                                    <li>
                                        To carry out survey of PWDs to identify their needs, opportunities and threats
                                        to social inclusion
                                        in Awgu and Aninri (5 communities).
                                    </li>
                                    <li>
                                        To strengthen the capacity of JONAPWD/IDEA to promote their rights and social
                                        inclusion in
                                        Awgu and Aninri LGAs.
                                    </li>
                                    <li>
                                        To build capacity of selected PWDs through on- the- job training/internship in
                                        DAHW for skills on
                                        grant proposal writing to access funding opportunities, management of social
                                        media platforms
                                        and also acquire skills for gainful employment in future.
                                    </li>
                                </ol>
                                The CBID project major activities include:
                                <br>

                                <ol type="a">
                                    <li>
                                        Survey of persons with disability in10 selected communities in Awgu and Aninri
                                        Local
                                        Government Area (LGA) of Enugu State.
                                    </li>
                                    <li>
                                        Advocacy to community stakeholders for social inclusion of PWDs in the
                                        communities
                                    </li>
                                    <li>
                                        Community sensitization and awareness creation on disability issues, rights of
                                        PWDs, their social
                                        inclusion and discrimination against PWDs in the communities.
                                    </li>
                                    <li>
                                        Strengthening of local chapters of JONAPWD in the 2 LGAs.
                                    </li>
                                    <li>
                                        Capacity building of JONAPWD representatives on grant proposal writing to access
                                        funding
                                        opportunities for the association in Enugu state. Two qualified JONAPWD members
                                        were
                                        engaged as interns for the activity.
                                    </li>
                                    <li>
                                        Training of JONAPWD executives and members on the rights of PWDs in the 2 LGAs.
                                    </li>
                                </ol>

                                </p>
                                <p>
                                    CBID unit through support from DAHW and donations provides assistive devices for
                                    persons
                                    with
                                    disability and elderly persons affected by leprosy who live in the leprosy centers
                                    in
                                    Southern Nigeria. <a href="#" class="btn-link"> Download the CBID Factsheet here</a>
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-details-content-thumb">
                                        <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754928/website/assets/img/cbid/DSC00226_gi7tvn.jpg" loading="lazy" alt="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-details-content-thumb">
                                        <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754760/website/assets/img/cbid/CSE_4188_q6jnuq.jpg" loading="lazy" alt="" />
                                    </div>
                                </div>
                            </div>

                            <div class="blog-details-content">
                                <h3 class="details-title">INTEGRATED APPROACH</h3>
                                <p>
                                    From the very beginning, RedAid Nigeria has followed an integrated approach in its
                                    project work, focusing equally on
                                    medical and social aspects. Because health is a cross-cutting issue and cannot be
                                    viewed in isolation from human living
                                    conditions!
                                </p>
                                <p>
                                    If our vision of a world free of poverty-related diseases is to come true,
                                    government and non-government programs must
                                    not focus solely on the diseases themselves. This vertical approach also offers
                                    advantages, because the prioritization
                                    enables the targeted design of the measures (which has proven itself with the "big
                                    three" malaria, tuberculosis and
                                    HIV). But the complex relationship between the neglect of diseases (NTDs) and
                                    certain groups of people requires
                                    cross-sectoral (horizontal) and holistic (holistic) concepts.
                                </p>
                                <p>
                                    These focus on people and include the determinants of health such as living and
                                    working conditions as well as
                                    biological, socio-economic, cultural and ecological factors. In concrete terms, this
                                    means that the health problems of
                                    billions of people around the world must be tackled at their roots and the (main)
                                    causes of illness must be tackled
                                    systematically and sustainably. First and foremost, it is poverty that makes people
                                    sick, and with it poor nutrition,
                                    water, sanitation and hygiene (WASH). We are therefore implementing many measures in
                                    this area today. In addition, our
                                    awareness-raising and educational work is a central component of the RedAid projects
                                    to provide people with prevention
                                    options, counteract the stigmatization of those affected and improve career
                                    opportunities.
                                </p>
                                <p>
                                    In the case of zoonoses such as Chagas , Buruli ulcer or tuberculosis - infectious
                                    diseases that can be transmitted from
                                    animals to humans - we want to increasingly rely on the interdisciplinary approach
                                    "One Health", with actors from human,
                                    veterinary and Environmental sciences collaborate. In addition, the transversal
                                    “empowerment” sector is playing an
                                    increasingly important role: the empowerment or self-empowerment of people on an
                                    individual, community and national
                                    level.
                                </p>
                                <p>
                                    Above all, the aim is to ensure that people are informed about health services and
                                    can avail themselves of necessary
                                    medical services without running into financial hardship. This is the concept of
                                    "Universal Health Coverage" (UHC) of
                                    the WHO, which was included in the 2030 Agenda of the United Nations as one of 17
                                    sustainability goals. Everyone should
                                    have access to high-quality and affordable health services and - in the event of
                                    illness - receive social benefits.
                                </p>
                            </div>


                            <div class="blog-details-content">
                                <h3 class="details-title">Use synergies</h3>
                                <p>
                                    In the control and treatment of cutaneous (skin-related) NTDs such as leprosy,
                                    Buruli ulcer , lymphatic filariasis and
                                    yaws (Yaws) RedAid follows in Nigeria the integrated approach of WHO to as many
                                    synergies in prevention, diagnosis to
                                    use treatment and rehabilitation. For example, in our educational work and case
                                    search, we combine these skin NTDs with
                                    other skin diseases, which lowers the stigma-related inhibition threshold among the
                                    population and reaches more people.
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog details area end -->
    </main>

{% endblock content %}