{% extends 'base.html' %}

{% block title %}

Child Safeguarding

{% endblock title %}

{% block head %}

<style>
    .blog-details-thumb img {
        width: 100%;
        max-width: 843px;
        height: 438px;
        object-fit: cover
    }
</style>

{% endblock head %}

{% block content %}

<main>
    <!-- Blog details breadcrumb start -->
    <div class="wrapper-box p-relative">
        <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title">Child Safeguarding</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details breadcrumb end -->

    <!-- Blog details area start -->
    <div class="blog-details-area pt-100 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="blog-details-items">
                        <div class="blog-details-thumb mb-30">
                            <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754756/website/assets/img/about/child-safeguarding_dx0mba.jpg" alt="" />
                        </div>

                        <div class="blog-details-content">
                            <!-- <h3 class="blog-details-title">
                                BURULI ULCER
                            </h3> -->

                        </div>

                        <div class="blog-details-content">
                            <h3 class="details-title">Child Safeguarding Policy: Protecting Children from Abuse and
                                Exploitation.</h3>
                            <p>
                                This document outlines the key definitions and commitments of the Child Safeguarding
                                Policy of RedAid Nigeria (RAN).
                            </p>
                            <p>
                                RAN's Child Safeguarding Policy applies to all employees, project partners,
                                consultants, service providers, interns, and
                                volunteers, as well as anyone traveling to project sites on behalf of RAN. It
                                standardizes child protection measures
                                within the organization and funded projects, aiming to minimize the risk of violence
                                and abuse.
                            </p>
                            <p>
                                Child: For the purpose of this policy, a child refers to anyone under the age of 18,
                                in accordance with the UN
                                Convention on the Rights of the Child.
                            </p>
                            <p>
                                In the case of zoonoses such as Chagas , Buruli ulcer or tuberculosis - infectious
                                diseases that can be transmitted from
                                animals to humans - we want to increasingly rely on the interdisciplinary approach
                                "One Health", with actors from human,
                                veterinary and Environmental sciences collaborate. In addition, the transversal
                                “empowerment” sector is playing an
                                increasingly important role: the empowerment or self-empowerment of people on an
                                individual, community and national
                                level.
                            </p>
                            <p>
                                Child Abuse: The World Health Organization defines child abuse as any form of
                                physical and/or emotional abuse, sexual
                                abuse, neglect, and commercial or other exploitation that results in actual or
                                potential harm to the health,
                                development, or dignity of the child within the framework of a relationship of
                                responsibility, trust, or power.
                            </p>
                            <p>
                                Participation of Children: The organization is committed to developing frameworks
                                that empower children to represent
                                their interests, where their perspectives are valued.
                            </p>
                            <p>
                                Child Protection: It is a broad term used to describe policies, standards, and
                                procedures for preventing and protecting
                                children from abuse. The organization's child protection policy applies to all
                                projects in which adults have direct or
                                indirect contact with children. The policy ensures that measures are taken to
                                prevent and combat abuse and incidents are
                                analyzed to improve child protection.
                            </p>
                            <p>
                                Declaration of Commitment: The organization commits to preventing and protecting
                                children from abuse and exploitation,
                                supporting their rights, and creating a safe environment. It also raises awareness
                                of child protection, develops and
                                implements measures to prevent abuse, and sensitizes relevant interest groups.
                            </p>
                            <p>
                                Actors Commitment: Actors in the scope of the Child Safeguarding Directive commit to
                                ensuring visual contact during
                                interactions with children, complying with the RAN Code of Conduct, not tolerating
                                or encouraging abusive behavior
                                towards children, and preventing those convicted of child abuse from being involved
                                in the program.
                            </p>
                            <p>
                                Communication Standards: The organization takes measures to protect the child's
                                identity and dignity in all media
                                content, avoiding stereotypes and portraying children as multifaceted individuals.
                                It also obtains consent from children
                                and their parents/guardians before using their photographs or reports.
                            </p>
                            <p>
                                Implementation: The organization distributes its guidelines to employees and
                                partners, attaches them to contracts,
                                explains them to employees, and ensures all parties comply. The child protection
                                team examines all reports, takes
                                appropriate measures, and communicates with stakeholders about the reporting
                                channels.
                            </p>
                            <p>
                                In summary, the organization is committed to protecting children from abuse,
                                supporting their rights, and creating a
                                safe environment. It implements guidelines and standards to ensure all employees,
                                partners, and actors comply with its
                                Child Safeguarding Policy.
                            </p>
                        </div>


                        <!-- <div class="blog-details-content">
                            <h3 class="details-title">Use synergies</h3>
                            <p>
                                In the control and treatment of cutaneous (skin-related) NTDs such as leprosy,
                                Buruli ulcer , lymphatic filariasis and
                                yaws (Yaws) RedAid follows in Nigeria the integrated approach of WHO to as many
                                synergies in prevention, diagnosis to
                                use treatment and rehabilitation. For example, in our educational work and case
                                search, we combine these skin NTDs with
                                other skin diseases, which lowers the stigma-related inhibition threshold among the
                                population and reaches more people.
                            </p>
                        </div> -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details area end -->
</main>

{% endblock content %}