{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}

Contact Us

{% endblock title %}

{% block content %}

<main>
    <!-- Blog details breadcrumb start -->
    <div class="wrapper-box p-relative">
        <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title">Contact Us</h1>
                        </div>
                        <div class="tpfooter__social text-center">
                            <a href="https://www.facebook.com/redaidnigeria?mibextid=ZbWKwL" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://twitter.com/redaidnigeria?t=TKAYRC1euWxmS1h74MKFVQ&s=09"
                                target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://instagram.com/redaidnigeria?igshid=MzNlNGNkZWQ4Mg==" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="https://youtube.com/@redaidnigeria" target="_blank"><i
                                    class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/company/redaid-nigeria/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details breadcrumb end -->


    <!-- contact us box start -->
    <div class="contact-us-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="contact-us-wrapper p-relative mb-30 text-center">
                        <h3 class="contact-us-wrapper-title">Address</h3>
                        <div class="contact-us-btn text-center">
                            <span>
                                56 Nza Street Independence Layout, <br>
                                P.O Box 18158 <br>
                                Ogbete Enugu <br>
                                Nigeria
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="contact-us-wrapper p-relative mb-30 text-center">
                        <h3 class="contact-us-wrapper-title">Email</h3>
                        <a href="mailto:Office@redaid-nigeria.org">Office(At)redaid-nigeria.org</a>
                        <!-- <a href="tel:6863246838">686-324-6838</a> -->
                        <div class="contact-us-btn text-center ">
                            <!-- <a href="contact-us.html">Contact us</a> -->
                            <br><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="contact-us-wrapper p-relative mb-30 text-center">
                        <h3 class="contact-us-wrapper-title">Phone Numbers</h3>
                        <a href="tel:+2348036680252">+2348036680252</a> <br>
                        <a href="tel:+2348094455221">+2348094455221</a> <br>
                        <div class="contact-us-btn text-center">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us box end -->

    <!-- contact us area start -->
    <div class="contact-area pt-90 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form-box">
                        <div class="contact-form">
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <h3 class="contact-form-title">Send a message</h3>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-input">
                                            {% render_field form.fname class="input" placeholder="First Name" %}
                                            {% comment %} <input name="name" class="input" type="text" placeholder="First Name"> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-input">
                                            {% render_field form.lname class="input" placeholder="Last Name" %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-input">
                                            {% render_field form.email class="input" placeholder="Email Address" type="email" %}
                                            {% comment %} <input name="email" class="input" type="email" placeholder="Email"> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-input">
                                            {% render_field form.phone class="input" placeholder="Phone Number e.g +234 8011223344" %}
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-input">
                                            {% render_field form.content class="textarea" placeholder="Your message" type="textarea" %}
                                            {% comment %} <textarea name="message" class="textarea"
                                                placeholder="Your message"></textarea> {% endcomment %}
                                        </div>
                                        {% comment %} <div class="contact-check">
                                            <div class="form-check">
                                                <input class="form-check-input check-input" type="checkbox" value=""
                                                    id="contact-check">
                                                <label class="form-check-label check-label" for="contact-check">
                                                    I am bound by the terms of the Service I accept Privacy Policy.
                                                </label>
                                            </div>
                                        </div> {% endcomment %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="contact-form-btn">
                                                    <button class="tp-btn tp-btn-shine-effect" type="submit">Send
                                                        Message</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ">
                                                <div class="tp-contact-info text-sm-end">
                                                    <!-- <span class="call">Phone:</span> -->
                                                    <!-- <a href="tel:+2348011223344"><i
                                                            class="fa-solid fa-phone-flip"></i> +234-8011223344</a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us area end -->


</main>

{% endblock content %}