{% extends 'base.html' %}

{% block title %}

Gender Policy

{% endblock title %}

{% block content %}

<main>
    <!-- Blog details breadcrumb start -->
    <div class="wrapper-box p-relative">
        <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
        <div class="breadcrumb-area pt-265 pb-265">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__content text-center">
                            <h1 class="breadcrumb__title">Gender Policy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details breadcrumb end -->

    <!-- Blog details area start -->
    <div class="blog-details-area pt-100 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="blog-details-items">
                        <div class="blog-details-thumb mb-30">
                            <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754951/website/assets/img/about/gender-policy_bruiu5.jpg" alt="" />
                        </div>

                        <div class="blog-details-content">
                            <!-- <h3 class="blog-details-title">
                                BURULI ULCER
                            </h3> -->

                        </div>

                        <div class="blog-details-content">
                            <!-- <h3 class="details-title">Child Safeguarding Policy: Protecting Children from Abuse and
                                Exploitation.</h3> -->
                            <p>
                                RedAid Nigeria (RAN) is dedicated to empowering individuals affected by leprosy, TB,
                                Buruli Ulcer, and other NTDs. They
                                focus particularly on women who play an important and equal role in community and
                                RAN achievements. The organization has
                                a gender-sensitive approach in line with the Federal Ministry of Women Affairs of
                                Nigeria's vision to eliminate gender
                                discrimination and guarantee equal access to opportunities.
                            </p>
                            <p>
                                RAN's goal is to promote gender equity and equality within the organization and
                                eliminate all forms of discrimination
                                against women. They aim to provide gender-sensitive direction to all their staff in
                                policy-making, planning, designing,
                                and implementing all development projects.
                            </p>
                            <p>
                                RAN recognizes that gender equality is the key to sustainable development and aims
                                to prioritize gender issues in all
                                their development activities. The organization aims to support women in developing
                                their skills, self-confidence, and
                                self-reliance. They also have a code of conduct that prohibits sexual exploitation
                                and abuse of any person, especially
                                children. The organization conducts gender analyses throughout the project cycle to
                                examine the differences between the
                                roles that women, men, boys, and girls play, their power levels, needs, constraints,
                                and opportunities, and develop
                                strategies to redress gender inequities.
                            </p>
                            <p>
                                RAN ensures that males and females have equal opportunities to participate and that
                                interviewers are proportionate to
                                the number and sex of participants
                            </p>

                        </div>


                        <!-- <div class="blog-details-content">
                            <h3 class="details-title">Use synergies</h3>
                            <p>
                                In the control and treatment of cutaneous (skin-related) NTDs such as leprosy,
                                Buruli ulcer , lymphatic filariasis and
                                yaws (Yaws) RedAid follows in Nigeria the integrated approach of WHO to as many
                                synergies in prevention, diagnosis to
                                use treatment and rehabilitation. For example, in our educational work and case
                                search, we combine these skin NTDs with
                                other skin diseases, which lowers the stigma-related inhibition threshold among the
                                population and reaches more people.
                            </p>
                        </div> -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog details area end -->
</main>

{% endblock content %}