{% extends 'base.html' %}
{% block title %}

Hansen Disease

{% endblock title %}

{% block head %}

<style>
    .tpblog__thumb img {
      width: 626px;
      height: 305px;
      object-fit: contain;
    }
  </style>

{% endblock head %}
{% block content %}

  <main>
    <!-- Blog details breadcrumb start -->
    <div class="wrapper-box p-relative">
      <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
      <div class="breadcrumb-area pt-265 pb-265">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb__content text-center">
                <h1 class="breadcrumb__title">Leprosy (Hansen's Disease)</h1>
                <!-- <div class="breadcrumb__list">
                  <span class="underline"><a href="states-of-operations.html">States of Operations</a></span>
                  <span class="dvdr"><i class="fa-solid fa-colon"></i></span>
                  <span class="underline"><a href="tuberculosis.html">Tuberculosis</a></span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog details breadcrumb end -->

    <!-- Blog details area start -->
    <div class="blog-details-area pt-100 pb-130">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="blog-details-items">
              <div class="blog-details-thumb">
                <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754931/website/assets/img/hansen/DSC00110_ewtfkx.jpg" loading="lazy" alt="" />
              </div>

              <div class="blog-details-content">
                <h3 class="blog-details-title">
                  The good news first: leprosy is not very contagious. <br />
                  Leprosy is curable.
                </h3>
                <p>Nevertheless, according to WHO statistics, hundreds of thousands of people around the world still
                  develop this "biblical disease" every year, and over 11,000 of those registered in 2018 already had
                  leprosy-related disabilities as a result of the disease. Leprosy is prevalent in the tropical and
                  subtropical countries of the global south. An estimated 5,000 cases of leprosy occur in Nigeria
                  annually.</p>
                <p>As with most neglected tropical diseases, leprosy tends to spread an infection through poverty.
                  Leprosy in turn means for most of those affected a life of poverty due to visible disabilities, social
                  exclusion, discrimination and stigmatization.</p>
                <p>In addition to medical treatment, the focus has always been on holistic, inclusive measures to
                  support (former) patients in order to improve people's living conditions over the long term.</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="blog-details-no-secret mt-30">
                    <h3 class="title">What is Leprosy?</h3>
                    <p>Leprosy is an infectious disease, the pathogen of which attacks the skin and the nervous system
                      and destroys them. Although the leprosy bacterium (Mycobacterium leprae) was discovered by the
                      Norwegian doctor Gerhard Armauer Hansen as early as 1873, it has not yet been possible to
                      cultivate the pathogen on cultivated soil and develop a vaccine against leprosy. The incubation
                      period is three to four years on average, but it can also be up to 30 years. The World Health
                      Organization (WHO) counts leprosy among the 20 neglected tropical diseases (NTDs).</p>
                    <!-- <ul>
                        <li>
                          <span><i class="fas fa-check"></i></span>Extramural Funding
                        </li>
                        <li>
                          <span><i class="fas fa-check"></i></span>Bacteria Markers
                        </li>
                        <li>
                          <span><i class="fas fa-check"></i></span>Nam nec mi euismod euismod
                        </li>
                      </ul> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="no-secret-thumb mt-30">
                    <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691929702/website/assets/img/hansen/DSC00044-min_tcrbdt.jpg" loading="lazy" alt="" />
                  </div>
                </div>
              </div>
              <div class="blog-details-content">
                <h3 class="details-title">How is leprosy transmitted?</h3>
                <p>Although leprosy is one of the oldest known diseases in human history, the exact route of infection
                  is still unknown. There is an urgent need for research here. The WHO has now classified leprosy as a
                  droplet infection, but contact with a sick person must be close and long-term - touch alone does not
                  lead to an infection.</p>
              </div>
              <div class="blog-details-content">
                <h3 class="details-title">Which factors favor a leprosy infection?</h3>
                <p>Persistent stress, malnutrition, poor hygiene conditions, cramped living conditions or unclean
                  drinking water: poor so-called social determinants weaken a person's immune system and promote
                  infection with leprosy. This is why this NTD is also considered to be associated with poverty and
                  occurs above all in countries in the Global South. In the Middle Ages, leprosy was also a major
                  problem in Europe. But as general living conditions improved, this “disease of poverty” disappeared.
                </p>
              </div>
              <div class="blog-details-content">
                <h3 class="details-title">What does the clinical picture look like?</h3>
                <p>The disease begins in the early stages with visible patches of skin, which is why it is often
                  confused with other skin diseases. As it progresses, bumps and lumps form on the skin and, in the long
                  term, nerve damage: Those affected lose feeling in their hands or feet. Injuries or burns are not
                  given sufficient attention due to the lack of pain sensitivity. If left untreated, the wounds can
                  become inflamed, chronic ulcers, disabilities and loss of limbs can result, making it impossible to
                  work.</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="blog-details-content-thumb mt-20">
                    <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754919/website/assets/img/hansen/DSC00376_egxkxr.jpg" loading="lazy" alt="" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="blog-details-content-thumb mt-20">
                    <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754754/website/assets/img/hansen/DSC_3810_batseh.jpg" loading="lazy" alt="" />
                  </div>
                </div>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">How is leprosy diagnosed?</h3>
                <p>After the onset of the disease, leprosy can be diagnosed with the simplest means, for example with a
                  pen: If people with closed eyes do not feel a light touch on a typical patch of skin, the disease is
                  very likely. The detection of a leprosy infection - before the outbreak of the disease - is much more
                  difficult, however, suitable methods are currently being researched. In connection with the long
                  incubation period of up to 20 years, it would be an important milestone in the fight against leprosy
                  to be able to diagnose so-called latent leprosy infections: Because those affected spread the pathogen
                  before they notice the disease in themselves.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">Is Leprosy Curable?</h3>
                <p>Yes, since 1982 there has been a combination therapy (multidrug therapy, MDT) consisting of a mix of
                  the antibiotics rifampicin, dapsone and clofazimin. It was developed with the financial and technical
                  support of DAHW German Leprosy and Tuberculosis Aid at the Borstel Research Center. According to a
                  successful study in Malta, MDT has been the WHO global standard since 1983 and has to be taken for six
                  to twelve months. This means that all leprosy patients can be cured.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">Which factors favor a leprosy infection?</h3>
                <p>Persistent stress, malnutrition, poor hygiene conditions, cramped living conditions or unclean
                  drinking water: poor so-called social determinants weaken a person's immune system and promote
                  infection with leprosy. This is why this NTD is also considered to be associated with poverty and
                  occurs above all in countries in the Global South. In the Middle Ages, leprosy was also a major
                  problem in Europe. But as general living conditions improved, this “disease of poverty” disappeared.
                </p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">Why is there still leprosy?</h3>
                <p>People affected by leprosy are still marginalized and, in some countries, even legally discriminated
                  against. For example, for religious reasons (in the Middle Ages, leprosy was also considered a
                  “punishment from God”) or because of the deep-seated fear of an illness that can be so cruel to
                  people. As a result, those affected hide their infection. Treatment that is too late or completely
                  absent leads to irreversible disabilities that those affected have to live with for the rest of their
                  lives.</p>
                <p>However, many patients also have no access to medical treatment, be it because of a (leprosy-related)
                  disability or a lack of health care infrastructure. Last but not least, there is also a lack of
                  knowledge about leprosy among medical professionals worldwide. Those affected are diagnosed and
                  treated too late or not at all. Educational work, active search for cases in remote regions and the
                  training of health personnel are therefore among the central elements in
                  <strong>RedAid/DAHW</strong>'s leprosy work.
                </p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">Can you protect yourself against leprosy?</h3>
                <p>Thanks to a study also co-financed by DAHW, it was possible to prove in 2016 that a single dose of
                  the antibiotic rifampicin to contact persons of leprosy patients can prevent infection. The WHO has
                  been recommending this so-called post-exposure prophylaxis (PEP) since 2017, taking into account
                  defined criteria.</p>
                <p>In 2019, DAHW started another research project together with the Dutch Leprosy Aid NLR, the
                  respective national health programs and the Erasmus University in Rotterdam to find out how this
                  single dose to contact persons can be introduced as a standardized prophylaxis measure in national
                  health programs.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">How many people are currently affected by leprosy?</h3>
                <p>In 2019, the World Health Organization (WHO) registered more than 200,000 new cases worldwide. That
                  is about 6,000 fewer than in the previous year, but if the trend continues, people with leprosy will
                  still have to live in 50 years' time and, as a result, many with severe disabilities. Leprosy is
                  curable and no one would have to suffer from the disease and its consequences such as exclusion,
                  disability and poverty. In addition, many cases are still only found when the leprosy disease has
                  already led to disabilities. The statistics for 2020 will likely show even fewer cases. However, not
                  because fewer people are actually infected, but because corona-related contact restrictions and
                  curfews make the search for a case even more difficult.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">Where exactly is leprosy common?</h3>
                <p>95 percent of all new cases occurred in countries of the "global south": India again led the
                  statistics by a wide margin with 114,451 and Brazil with 27,863 recorded new cases. Contrary to the
                  general trend, the number of cases in Brazil has actually increased. But despite the high number of
                  cases, leprosy is officially eliminated according to WHO criteria - a maximum of 1 case per 10,000
                  inhabitants - due to the population density in India. However, all information in the WHO leprosy
                  statistics should be treated with caution: It can be assumed that in reality they are many times
                  higher. Many people affected by leprosy do not want to be recognized or recorded due to the
                  stigmatization of the disease. Also, some governments keep national statistics under lock and key or
                  do not keep reliable registers because leprosy is linked to poverty and there is concern about the
                  reputation of the state. Or there is a lack of functioning control programs and infrastructures to
                  record all cases.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="blog-details-title">
                  The good news first: leprosy is not very contagious. <br />
                  Leprosy is curable.
                </h3>
                <p>Drawn for a lifetime</p>
                <p>Like many neglected tropical diseases, leprosy is also fraught with prejudice and stigma. Although
                  curable for many years, people affected by leprosy are still expelled. People shy away from shaking
                  hands with (former) leprosy patients or just being around them. Fear of being ostracized, many
                  hesitate to seek medical help if they suspect a leprosy infection. However, if it is diagnosed and
                  treated too late, it can result in visible and irreversible damage to the hands and feet and severe
                  visual disturbances. These disabilities also fuel the stigma of the disease: Even after healing, it is
                  difficult for those affected to participate in (community) life, they have little chance of regular
                  employment and mostly live in poverty.</p>
                <p>According to the Association of International Leprosy Aid Organizations ILEP, of the approximately
                  200,000 people who were registered with a new leprosy disease in 2018, more than six percent were
                  affected by a leprosy-related disability.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">How do leprosy-related disabilities come about?</h3>
                <p>If left untreated, the leprosy bacterium damages and destroys nerves, especially in the face, arms
                  and legs. Due to the resulting numbness, affected people do not notice when the skin is injured. If
                  inflammations and ulcers are not properly treated, limbs can die and amputations may even be
                  necessary. In addition, the production of sweat no longer works and the skin becomes dry and cracked.
                  This also increases the risk of infection in the wounds.</p>
                <p>Because nerves are no longer functional, limb paralysis can be a further consequence of leprosy.
                  Fingers that can no longer be moved atrophy in a misshapen position (for example in the so-called
                  clawed hand). When a foot can no longer be lifted, walking becomes a torture. Last but not least,
                  damaged optic nerves or eyelids that can no longer be closed can blind those affected.</p>
              </div>

              <div class="blog-details-content">
                <h3 class="details-title">How does RedAid help?</h3>
                <p>Since diagnosis and treatment as early as possible is essential to avoid leprosy-related
                  disabilities, active search for cases, especially in remote regions of the countries of assignment, is
                  an important component of RedAid's leprosy work. In addition, medical rehabilitation measures have
                  always played a central role: the provision of orthopedic aids (special shoes and assistants) and
                  plastic reconstructive surgery. In order to sustainably improve the living situation of people with
                  (leprosy-related) disabilities, RedAid applies the concept of community-based inclusive development
                  (CBID) to all projects underlying. For example, awareness-raising campaigns are carried out in the
                  communities, income-generating activities are generated for people with disabilities, savings and loan
                  programs are implemented and the establishment of self-help groups and organizations for those
                  affected is promoted. The aim is to enable people with disabilities to claim their rights and
                  participate in social life.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- Blog details area end -->


    <!-- blog area start -->
    <section class="tpblog-area pb-10 pt-10">
      <div class="container">
        <!-- <div class="row">
          <div class="col-xl-12">
            <div class="tpblog">
              <div class="section-title-wrapper">
                <span class="section-sub-title has-before has-after text-center"> Blog </span>
                <h3 class="section-title text-center">Check latest blog post</h3>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row tp-gx-40">

          <div class="col-xl-6 col-lg-6">
            <div class="tpblog mt-30 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="#"><img class="grayscale" src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754696/website/assets/img/hansen/dls/leprosy-center_rq9m44.jpg" loading="lazy" alt="" /></a>
                <a href="#"><span>Download</span></a>
              </div>
              <div class="tpblog__content">
                <h3 class="tpblog__title text-center"><a href="#">The Leprosy Centre Uzuakoli</a></h3>
                <p>The Leprosy Centre Uzuakoli (1932 to 1992) by Joseph N. Chukwu and Uche M. Ekekezie. Click
                  to download...</p>
                <!-- <div class="tpblog__details d-flex justify-content-md-between align-items-center flex-wrap">
                                    <div class="tpblog__author">
                                      <img src="assets/img/blog/blog-auther.png" alt="" />
                                      <span>Rasalina Halim</span>
                                    </div>
                                    <div class="tpblog__comments align-items-center">
                                      <span>356<i class="fa-regular fa-heart"></i></span>
                                      <span>12.January.2022<i class="fa-regular fa-clock"></i></span>
                                    </div>
                                  </div> -->
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="tpblog mt-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="#"><img class="grayscale" src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754697/website/assets/img/hansen/dls/oral-leprosy_skpa1s.jpg" loading="lazy" alt="" /></a>
                <a href="#"><span>Download</span></a>
              </div>
              <div class="tpblog__content">
                <h3 class="tpblog__title text-center"><a href="Download">A QUESTION OF JUSTICE</a>
                </h3>
                <p>Persons affected by Leprosy in Eastern Nigeria tell their stories in their own words. Click
                  to download...</p>
                <!-- <div class="tpblog__details d-flex justify-content-md-between align-items-center flex-wrap">
                                    <div class="tpblog__author">
                                      <img src="assets/img/blog/blog-auther-2.jpg" alt="" />
                                      <span>Hallen Alinar</span>
                                    </div>
                                    <div class="tpblog__comments align-items-center">
                                      <span>356<i class="fa-regular fa-heart"></i></span>
                                      <span>12.January.2022<i class="fa-regular fa-clock"></i></span>
                                    </div>
                                  </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-6 col-lg-6">
            <div class="tpblog wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="tuberculosis.html"><img class="grayscale" src="assets/img/hansen/dls/leprosy-center.jpeg"
                    alt="" /></a>
                <a href="tuberculosis.html"><span>Download The
                    Leprosy Centre Uzuakoli Booklet E-book</span></a>
              </div>

            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="tpblog wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="ntds.html"><img class="grayscale" src="assets/img/hansen/dls/oral-leprosy.jpeg" alt="" /></a>
                <a href="ntds.html"><span>Download The Oral Leprosy History
                    Project Book 2019 E-book</a>
              </div>

            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- blog area end -->
  </main>

{% endblock content %}