{% extends 'base.html' %}
{% block title %}
Partners &amp; Networks
{% endblock title %}
{% block content %}

    <main>
        <!-- Blog details breadcrumb start -->
        <div class="wrapper-box p-relative">
            <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
            <div class="breadcrumb-area pt-265 pb-265">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb__content text-center">
                                <h1 class="breadcrumb__title">Partners &amp; Networks</h1>
                                <!-- <div class="breadcrumb__list">
                                    <span><a href="index.html">Home</a></span>
                                    <span class="dvdr"><i class="fa-solid fa-colon"></i></span>
                                    <span class="underline">Blog details</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog details breadcrumb end -->

        <!-- Blog details area start -->
        <div class="blog-details-area pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 mx-auto">
                        <div class="blog-details-items">


                            <div class="blog-details-content">
                                <h3 class="blog-details-title text-center">
                                    <blockquote>"If you want to go fast, go alone, if you want to go far, go together"
                                    </blockquote>
                                </h3>
                                <p>In the spirit of this African proverb, we have always relied on cooperation and
                                    networking with like-minded partners
                                    when financing and implementing our projects.</p>
                                <p>
                                    As an organization specializing in global health, inclusion and humanitarian
                                    assistants, RAN is just a drop in the ocean of
                                    development cooperation from a
                                    global perspective. That's why we have to use our resources all the more effectively
                                    and pool our strengths in various
                                    alliances, partnerships and networks. In the technical, human and financial areas,
                                    we work together with other
                                    organizations when implementing our programs and projects, which ideally complement
                                    our experience and know-how with
                                    their expertise, skills and contacts.
                                </p>
                                <p>
                                    Representing the interests of the beneficiaries - Our numerous alliance and network
                                    partners not only support us through professional exchange, project coordination and
                                    fundraising: together we lobby at local, national and international level in order
                                    to influence relevant actors in many
                                    areas of endeavour.
                                </p>

                                <p>
                                    In addition, we are active in the area of advocacy (advocacy interest group) to
                                    stand up for the concerns and needs of
                                    the vulnerable and marginalized communities. These include many self-help or
                                    self-representation organizations for those
                                    affected, whose establishment and expansion we actively promote and support. Side by
                                    side, we want to achieve long-term
                                    and sustainable improvements and changes with them and for them.
                                </p>
                            </div>

                            <div class="blog-details-content">
                                <h3 class="details-title">Partners</h3>
                                <p>
                                    Our work is supported and funded largely by DAHW (German)* and other institutions
                                    donors.
                                </p>
                                <p>
                                    These institutional donors, as well as our private sector partners, only give their
                                    grants to organizations that can
                                    demonstrate high quality of their work. RAN enjoys great trust here.
                                </p>
                                <p>
                                    Our cooperation with the National Ministry of Health is essential for the success of
                                    our projects. They pursue the same
                                    strategic and operational goals as RAN and, with their expertise, form the ideal
                                    complement to our fields of competence.
                                    It is often only thanks to these established structures that we get access to the
                                    people and communities affected.
                                </p>
                            </div>


                            <div class="blog-details-content blog-details-no-secret">
                                <h3 class="details-title">Partners:</h3>
                                <ul id="partners">
                                    
                                    {% if partners %}
                                        {% for partner in partners %}
                                        <li>
                                            <a href="{% if partner.url %} {{ partner.url }} {% else %} # {% endif %}" target="_blank">
                                                <span>
                                                    <i class="fas fa-check"></i>
                                                </span>{{ partner.name }}</a>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                        No partner(s) in the database
                                    {% endif %}

                                    {% comment %} Association for Reproductive and Family Health (ARFH)

                                    <li><span><i class="fas fa-check"></i></span>Institute for Human Virology Nigeria
                                        (IHVN)</li>
                                    <li><span><i class="fas fa-check"></i></span>Family Health International (FHI 360)
                                    </li>
                                    <li><span><i class="fas fa-check"></i></span>National Tuberculosis, Leprosy and
                                        Buruli ulcer control programme ( NTBLCP) Global Fund project.</li>
                                    <li><span><i class="fas fa-check"></i></span>Stop TB Partnership</li>
                                    <li><span><i class="fas fa-check"></i></span>World Health Organisation (WHO)</li>
                                    <li><span><i class="fas fa-check"></i></span>National Institute for Health Research
                                        (NIHR), University of Birmingham, UK</li>
                                    <li><span><i class="fas fa-check"></i></span>Leprosy and TB Relief Initiative
                                        Nigeria (LTR)</li>
                                    <li><span><i class="fas fa-check"></i></span>Leprosy Research Initiative (LRI)</li>

                                    <li><span><i class="fas fa-check"></i></span>German Dilpomatic Missions in Nigeria
                                    </li>

                                    <li><span><i class="fas fa-check"></i></span>Clinton Health Access Initiative (CHAI)
                                    </li>

                                    <li><span><i class="fas fa-check"></i></span>BMZ</li>

                                    <li><span><i class="fas fa-check"></i></span>GIZ</li>

                                    <li><span><i class="fas fa-check"></i></span>Operational Research on Diabetes
                                        Milletus (DM-TB)</li>

                                    <li><span><i class="fas fa-check"></i></span>African Research Network for Neglected
                                        Tropical Diseases (ARNTD) </li>

                                    <li><span><i class="fas fa-check"></i></span>USAID
                                    </li>

                                    <li><span><i class="fas fa-check"></i></span>UKaid
                                    </li>

                                    <li><span><i class="fas fa-check"></i></span>COR NTD
                                    </li>

                                    <li><span><i class="fas fa-check"></i></span>Christian Health Association of Nigeria
                                        (CHAN)</li>

                                    <li><span><i class="fas fa-check"></i></span>Purple Hope Initiative Nigeria</li>

                                    <li><span><i class="fas fa-check"></i></span>Kindermissionwork</li>

                                    <li><span><i class="fas fa-check"></i></span>Effect Hope Canada</li> {% endcomment %}
                                    <!-- <li><span><i class="fas fa-check"></i></span>Nam nec mi euismod euismod</li> -->
                                </ul>
                            </div>

                            <div class="blog-details-content">
                                <h3 class="details-title">Networks</h3>
                                <p>
                                    Alliances play a crucial role in development cooperation and humanitarian aid,
                                    because the use of synergies makes it
                                    possible to organize work more efficiently. The focus is on the exchange of content
                                    and topics, for example on the
                                    latest developments in the medical or technical field, but also on a development
                                    policy and social level.
                                </p>
                            </div>

                            <div class="blog-details-content blog-details-no-secret">
                                <!-- <h3 class="details-title">"Lessons Learned"</h3>
                                <p>
                                    The analysis of positive and negative experiences provides valuable insights, on the
                                    basis of which processes can be
                                    further optimized. This know-how is shared within the networks and alliances, as are
                                    models for success and proven
                                    methods in project work (so-called "best practice" examples). In this way, all
                                    (civil society) partners involved in the
                                    alliance or network benefit - and thus the beneficiaries in our projects.
                                </p> -->

                                <p>
                                    RAN is currently an active member of these alliances and networks*
                                </p>

                                <ul id="networks">

                                    {% if networks %}
                                        {% for network in networks %}
                                        <li>
                                            <a href="{% if network.url %} {{ network.url }} {% else %} # {% endif %}" target="_blank">
                                                <span>
                                                    <i class="fas fa-check"></i>
                                                </span>{{ network.name }}</a>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                    No network(s) in the database
                                    {% endif %}
                                    {% comment %} <li><span><i class="fas fa-check"></i></span>International Anti-Leprosy Association
                                        (ILEP)</li>
                                    <li><span><i class="fas fa-check"></i></span> Association of Public Health Physician
                                        of Nigeria (APHPN)
                                    </li>
                                    <li><span><i class="fas fa-check"></i></span>NTD NGO Network (NNN)</li>
                                    <li><span><i class="fas fa-check"></i></span>NGDO Coalition Nigeria</li>
                                    <li><span><i class="fas fa-check"></i></span>Nigerian Association of Dermatologists
                                        (NAD)</li>
                                    <li><span><i class="fas fa-check"></i></span>Nigerian Association of Plastic
                                        Reconstructive and Aesthetic Surgeons (NAPRAS)</li>
                                    <li><span><i class="fas fa-check"></i></span>Association of Psychiatrists in Nigeria
                                        (APN)</li> {% endcomment %}
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Blog details area end -->

    </main>


{% endblock content %}