{% extends 'base.html' %}
{% load static %}
{% block title %}
Vision &amp; Mission
{% endblock title %}
{% block content %}

<main>
    <!-- about foundation area start -->
    <div class="wrapper-box p-relative">
      <div class="breadcrumb-bg" data-background="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754700/website/assets/img/breadcrumb/breadcrumb-bg_bwimw6.png"></div>
      <div class="breadcrumb-area pt-265 pb-265">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb__content text-center">
                <h1 class="breadcrumb__title">Vision &amp; Mission</h1>
                <!-- <div class="breadcrumb__list">
                    <span><a href="index.html">Home</a></span>
                    <span class="dvdr"><i class="fa-solid fa-colon"></i></span>
                    <span class="underline">About Us</span>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about foundation area end -->

    <!-- our mission area start -->
    <section class="our-mission-area pt-175 pb-85">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <div class="our-mission-tab tp-tab">
              <div class="our-mission-tab-inner tp-tab-menu p-relative">
                <nav>
                  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">Vision</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mission</button>
                    <!-- <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Our Approch</button> -->
                    <span id="marker" class="tp-tab-line d-none d-sm-inline-block"></span>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="our-mission-tab-content">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="mission-box">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="our-mission-img text-center">
                          <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754740/website/assets/img/about/vision-01_jy299x.jpg" loading="lazy" alt="" />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <div class="our-vission-wrapper">
                          <h2 class="section-title">Vision Statement</h2>
                          <p class="regular-text">Our vision is a world in which no one suffers from diseases of
                            exclusion such as Buruli ulcer, leprosy, tuberculosis, and other diseases of poverty and
                            their consequences such as disability and mental health challenges.</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="our-approch-img text-sm-end">
                          <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754794/website/assets/img/about/vision-02_k6u2eb.jpg" loading="lazy" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="mission-box">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="our-mission-img text-center">
                          <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754697/website/assets/img/about/mission01_ebkmfk.jpg" loading="lazy" alt="" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="our-vission-wrapper">
                          <h2 class="section-title">
                            Mission Statement
                            <!-- <br />
                                                about, there will be. -->
                          </h2>
                          <p class="regular-text">To provide integrated health services to indigent people affected by
                            diseases of exclusion and other diseases associated with poverty and their consequences such
                            as disability and mental health challenges.</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-6 col-12">
                        <div class="our-approch-img text-sm-end">
                          <img src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754891/website/assets/img/about/mission02_jrxxpg.jpg" loading="lazy" alt="" />
                          <!-- <img src="https://images.pexels.com/photos/11622796/pexels-photo-11622796.jpeg" alt="" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our mission area end -->

    <!-- portfolio details details area start -->
    <div class="portfolio-details-area-2 pt-30 ">
      <div class="container">
        <div class="row" id="mission-tpl">
          <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="blog-details-no-secret mt-30">
              <h2 class="title">Our Organisation</h2>
              <!-- <p>Must explain to you how all praising uts pain was born and I will gives you a itself
                            completed account of the system, and sed expounds the ut actual teachings of that
                            greater
                          </p> -->

              <ul>
                <li><span><i class="fas fa-check"></i></span>We are an independent non governmental organisation in
                  Nigeria supported by donors, volunteers and staff.</li>
                <li><span><i class="fas fa-check"></i></span>We are affiliated with an International NGO, DAHW( German
                  Leprosy & Tuberculosis Relief Association) with over 60years
                  experience in health care related projects in Nigeria and across the world.</li>
                <li><span><i class="fas fa-check"></i></span>We collaborate with national and international players
                  active in medical and social development co-operation and
                  research. We form strategic alliances to achieve the best possible outcome.</li>
                <li><span><i class="fas fa-check"></i></span>We finance our work with donations and public funds from
                  institution and individuals.</li>
                <li><span><i class="fas fa-check"></i></span>The entrusted funds enable us to fulfill our statutory
                  duties, in line with the principle of economy and needs-based
                  support. We consider ourselves as a link between people who want to help those who need help.</li>
                <li><span><i class="fas fa-check"></i></span>We are responsible to facilitate the desire of our donors
                  to change lives and provide professional medical and social
                  assistance directly to the people.</li>
                <li><span><i class="fas fa-check"></i></span>We visualize the connection between disease and poverty so
                  that people act with empathy and solidarity in our ONE
                  world.</li>
                <!-- <li><span><i class="fas fa-check"></i></span>Nam nec mi euismod euismod</li> -->
              </ul>
            </div>
          </div>
          <div class="col-xl-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="blog-details-no-secret mt-30">
              <h2 class="title">The core of our work</h2>
              <!-- <p>Must explain to you how all praising uts pain was born and I will gives you a itself
                completed account of the system, and sed expounds the ut actual teachings of that
                greater
              </p> -->

              <ul>
                <li><span><i class="fas fa-check"></i></span>We actively assist on a national scale people suffering
                  from diseases of exclusion and poverty-related diseases</li>
                <li><span><i class="fas fa-check"></i></span>The heart of our work consists of promoting medical and
                  social projects.</li>
                <li><span><i class="fas fa-check"></i></span>As a health NGO , we support medical and social relief
                  programs that allow affected individuals to live a life in
                  dignity and become empowered to be equally integrated into society through our intervention programmes
                  and skill
                  acquisition.</li>
                <li><span><i class="fas fa-check"></i></span>We support research conducted in the interests of improving
                  prevention, diagnostics, therapy and medical-social
                  rehabilitation for our target communities.</li>
                <li><span><i class="fas fa-check"></i></span>We maintain national and international standards and
                  encourage self-responsibility.</li>
                world.</li>
                <!-- <li><span><i class="fas fa-check"></i></span>Nam nec mi euismod euismod</li> -->
              </ul>
            </div>
          </div>
        </div>


        <div class="row active--blog" id="vision-tpl">
          <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="blog-details-no-secret mt-30">
              <h2 class="title">GUIDELINES</h2>
              <p>
                Our guidelines and our code of conduct form the working basis for all employees, for interns, project
                partners,
                consultants, suppliers and for the supervisory bodies. We want to ensure compliance with the guidelines
                and rules of
                conduct at all times and at every level of work. Violations or indications of violations will be
                investigated
                immediately.
              </p>


            </div>
          </div>
          <div class="col-xl-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="blog-details-no-secret mt-30">


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- portfolio details area end -->

    <!-- blog area start -->
    <section class="tpblog-area pb-130 pt-125">
      <div class="container">
        <!-- <div class="row">
          <div class="col-xl-12">
            <div class="tpblog">
              <div class="section-title-wrapper">
                <span class="section-sub-title has-before has-after text-center"> Blog </span>
                <h3 class="section-title text-center">Check latest blog post</h3>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row tp-gx-40">
          <div class="col-xl-6 col-lg-6">
            <div class="tpblog mt-30 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="blog-details.html"><img class="grayscale" src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754756/website/assets/img/about/child-safeguarding_dx0mba.jpg" loading="lazy"
                    alt="" /></a>
                <!-- <a href="blog-details.html"><span>Health</span></a> -->
              </div>
              <div class="tpblog__content">
                <h3 class="tpblog__title"><a href="child-safeguarding.html">Child Safeguarding</a></h3>
                <p>RAN's Child Safeguarding Policy applies to all employees, project partners, consultants, service
                  providers, interns, and
                  volunteers, as well as anyone traveling to project sites on behalf of RAN</p>

              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="tpblog mt-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
              <div class="tpblog__thumb">
                <a href="blog-details.html"><img class="grayscale" src="https://res.cloudinary.com/dav4wpgc9/image/upload/v1691754951/website/assets/img/about/gender-policy_bruiu5.jpg" loading="lazy"
                    alt="" /></a>
                <!-- <a href="blog-details.html"><span>Donation</span></a> -->
              </div>
              <div class="tpblog__content">
                <h3 class="tpblog__title"><a href="gender-policy.html">Gender Policy</a>
                </h3>
                <p>RAN's goal is to promote gender equity and equality within the organization and eliminate all forms
                  of discrimination
                  against women. They aim to provide gender-sensitive direction to all their staff in policy-making,
                  planning, designing,
                  and implementing all development projects.</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- blog area end -->

    <!-- brand area start -->
    <div class="brand-area grey bg-black pt-35 pb-35">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="brand-section">
              <p class="brand-title text-center text-white has-before has-after">Our top Partners</p>
            </div>
            <div class="brand-active mt-50 mb-5 ml-30">
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2019/05/logo_dahw_breit-96.png" alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/07/gizlogo_96.png" alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/07/FMOH-logo-lg_96-neg.png" alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/07/leprosymissionnig.org_96.png"
                    alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/07/StopTB-Partnership.png" alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/12/Usaid_96.png" alt="" />
                </a>
              </div>
              <div class="single-brand">
                <a href="#">
                  <img src="https://nigeria.red-aid.org/wp-content/uploads/2021/12/canada-wordmark_96.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- brand area end -->
  </main>

{% endblock content %}